doctype html
html(lang="en")
  head
    title Remote Bot
    link(rel="stylesheet" href="index.css" charset="utf-8")
  body
    span(data-role="status")
    if authed
      span Hi 
      span= user.email
    script(src="index.js" charset="utf-8")

